{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container mt-4">
	<div class="my-4">
		<form method="post" action="/search">
		<div class="row bg-white rounded shadow-sm p-2 align-items-center justify-content-center w-75 mx-auto my-4">
			<div class="col">
				<input class="form-control form-control-lg" type="text" placeholder="Search..." name="search">
			</div>
			<div class="col-auto mx-3">
				<button type="submit" class="btn btn-dark"><b>Search</b></button>
			</div>
		</div>
	</form>
	</div>
	<h3 class="heading-3 mb-5"><b>
		{% if title == 'Top Headlines' %}
		{{ title }}
		{% elif title == 'Search Page' %}
		Seach results
		{% else %}
		{{ title }} News
		{% endif %}
	</b></h3>
	<div class="row mt-4">
		{% for article in articles %}
		{% if article['urlToImage'] and article['url'] and article['title'] and article['description'] %}
		<div class="col mb-5 d-flex align-items-stretch">
			<div class="card" style="width: 18rem;">
				<img src="{{ article['urlToImage'] }}" alt="" height="200">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">{{ article['title'] }}</h5>
					<p class="card-text">{{ article['description'] }}</p>
					<div class="d-flex flex-column" style="background: red">
						
						<a href="{{ article['url'] }}" target="_blank" class="btn btn-dark">Read more</a>	
					</div>

				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>


{% endblock %}
