<html>
<head>
	
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>{% block title %} {% endblock %}</title>

</head>
<body>
	<div class="bg-light bg-gradient h-100 w-100">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="{{ url_for('static', filename = 'logo.jpg') }}" width="80" height="80" alt="Logo">
					Read the world today
                    
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav px-5">
						<li class="nav-item mx-3">
							<a href="/top-headlines" class="btn btn-outline-dark">Featured</a>
						</li>
						<li class="nav-item">
							<a href="/top-headlines" class="btn btn-dark">Top headlines</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% block content %} {% endblock %}	
	</div>
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>